<!--container-->
<div class="container">

  <!--hero-->
  <ac-hero [hero]="hero"></ac-hero>

  <!-- <ac-products-list></ac-products-list> -->
  <!-- <ac-product></ac-product> -->
  <!-- Product list-->
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 mt-5">
    <!-- Products -->
    <ac-shop-item-card *ngFor="let product of products" [product]="product" (addToCart)="addToCartHandler($event)">
    </ac-shop-item-card>
  </div>
</div>

<div class="container">

  <!--News-->
  <div class="row 3 mt-5">
    <div class="col" *ngFor="let item of news">
      <ac-shop-item-news [item]="item"></ac-shop-item-news>
    </div>
  </div>

</div> <!-- div di chiusura -->

<!-- Newsletter-->
<ac-shop-newsletter></ac-shop-newsletter>
