<div class="contaier bg-light my-3 py-3 round-border">

  <div class="'py-5 text-center">
    <i class="'fab fa-shopify fa-4x"></i>
    <h2>Checkout form</h2>
    <p class="lead">Fill all fields and order now. Free shipping</p>
  </div>

  <!-- MESSAGE PLACEHOLDER -->

  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <!--CART SUMMARY PLACEHOLDER -->
      Cart Summary
    </div>

    <form #f="ngForm" (submit)="submitHandler(f.value)" class="col-md-7 col-lg-8">
      <h4 class="mb-3">Billing address</h4>


    </form>


  </div>

</div>
