<div class="navbar navbar-light bg-light sticky-top justify-content-end">
  <button class="btn btn-outline-dark mx-2" (click)="selection = 'product'">Products</button>
  <button class="btn btn-outline-dark mx-2" (click)="selection = 'news'">News</button>
  <button class="btn btn-outline-dark mx-2" (click)="selection = 'hero'">Hero</button>
</div>

<ac-backoffice-product *ngIf="selection === 'product'"></ac-backoffice-product>
<ac-backoffice-news *ngIf="selection === 'news'"></ac-backoffice-news>
<ac-backoffice-hero *ngIf="selection === 'hero'"></ac-backoffice-hero>
