<!-- <pre> {{hero | json}} </pre> -->
<div class="container bg-light my-3 py-3 round-border">

  <form #f="ngForm" (submit)="saveHandler(f)">

    <ac-error message="Title too short" [formRef]="titleRef"></ac-error>
    <input type="text" required class="form-control" minlength="5" placeholder="Title" name="title"
      [ngModel]="hero.title" #titleRef="ngModel" [ngClass]="{'is-invalid': titleRef.invalid && titleRef.dirty }">
    <ac-error message="Description too short" [formRef]="descriptionRef"></ac-error>
    <textarea type="text" required class="form-control" minlength="5" placeholder="Description" name="description"
      [ngModel]="hero.description" #descriptionRef="ngModel" cols="30" rows="10"
      [ngClass]="{'is-invalid': descriptionRef.invalid && descriptionRef.dirty }">
  </textarea>
    <ac-error message="Invalid Image Url" [formRef]="imageRef"></ac-error>
    <input type="text" required class="form-control" minlength="5" placeholder="image" name="image"
      [ngModel]="hero.image" #imageRef="ngModel" [ngClass]="{'is-invalid': imageRef.invalid && imageRef.dirty }">

    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">UPDATE</button>
    <button type="button" class="btn btn-warning" (click)="hero = f.value"> PREVIEW </button>
    <button type="button" class="btn btn-success" (click)="getHero()"> RELOAD </button>

  </form>

  <hr>

  <h2> Preview </h2>

  <!-- <ac-hero [hero]="hero"></ac-hero> -->
  <!-- ^^ todo replace the above -->
  <div class="container">
    <div class="card round-border overflow-hidden mt-3" style="height: 300px">
      <img class="card-img round-border" style="object-fit: cover" [src]="hero?.image" alt="Hero">
      <div class="card-img-overlay mt-5">
        <h1 class="card-title">{{hero?.title}}</h1>
        <h4 class="card-text" [innerHTML]="hero?.description"></h4>
      </div>
    </div>
  </div>

</div>
